main {
    display: inline-flex;
    width: 100%;
}

main {
    margin: 10px 20px;
}

.clock {
    display: grid;
    grid-template-areas: 
        "name name name name name"
        "hours dots1 minutes dots2 seconds";
    text-align: center;
    grid-gap: 5px 10px;
    width: 100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #CCC;
}

p {
    margin: 5px 0;
}

.name {
    grid-area: name;
}

.hours {
    grid-area: hours;
    font-weight: bold;
}

.dots-1 {
    grid-area: dots1;
}

.minutes {
    grid-area: minutes;
    font-weight: bold;
}

.dots-2 {
    grid-area: dots2;
}

.seconds {
    grid-area: seconds;
    font-weight: bold;
}