body {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    flex-grow: 1;
}

aside {
    background-color: #CCC;
    padding: 20px 30px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-gap: 0 20px;
    margin: 0 20px;
}

.header {
    grid-column: span 2;
}

.title-wrapper {
    background-color: #888;
    color: white;
}

h1 {
    padding: 20px 30px;
    margin: 0;
}

h2 {
    text-align: center;
}